name: Test
on:
    push:

permissions:
    contents: read
    pages: write
    id-token: write
    checks: write
    pull-requests: write

jobs:
    test:
        runs-on: ubuntu-latest

        env:
            TZ: "Asia/Tokyo"

        strategy:
            matrix:
                python-version: ["3.11", "3.12", "3.13"]

        steps:
            - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4

            - name: Set up Python ${{ matrix.python-version }}
              uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # v5
              with:
                  python-version: ${{ matrix.python-version }}

            - name: Set locale
              run: |
                  sudo locale-gen ja_JP.UTF-8

            - name: Install uv
              uses: astral-sh/setup-uv@d4b2f3b6ecc6e67c4457f6d3e41ec42d3d0fcb86 # v5
              with:
                  enable-cache: true

            - name: Cache python modules
              id: cache-python-modules
              uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4
              env:
                  cache-name: cache-python-modules
              with:
                  path: $HOME/.cache
                  key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('uv.lock') }}
                  restore-keys: |
                      ${{ runner.os }}-build-${{ env.cache-name }}-
                      ${{ runner.os }}-build-
                      ${{ runner.os }}-

            - name: Install Dependencies
              run: |
                  uv sync

            - name: Run Tests
              run: uv run pytest --ignore=tests/integration --ignore=tests/e2e

            - name: Upload coverage to Coveralls
              uses: coverallsapp/github-action@5cbfd81b66ca5d10c19b062c04de0199c215fb6e # v2
              if: matrix.python-version == '3.12'
              with:
                  github-token: ${{ secrets.GITHUB_TOKEN }}
                  path-to-lcov: reports/coverage.lcov

            - name: Publish Test Results
              uses: dorny/test-reporter@v1
              if: success() || failure()
              with:
                  name: test results
                  path: reports/junit-report.xml
                  reporter: java-junit

            - name: Upload coverage file
              uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4
              if: always()
              with:
                  name: pytest-${{ matrix.python-version }}
                  path: reports

            - name: Upload artifact
              uses: actions/upload-pages-artifact@56afc609e74202658d3ffba0e8f6dda462b719fa # v3
              if: matrix.python-version == '3.12'
              with:
                  path: reports

    deploy:
        environment:
            name: github-pages
            url: ${{ steps.deployment.outputs.page_url }}
        runs-on: ubuntu-latest
        needs: test
        if: github.ref == 'refs/heads/master'
        steps:
            - name: Download test results
              id: deployment
              uses: actions/deploy-pages@d6db90164ac5ed86f2b6aed7e0febac5b3c0c03e # v4
